.advantages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 55px;
  justify-content: center;
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 0;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 500px) {
      max-width: 200px;
      width: 100%;
    }
  }
  &__text {
    max-width: 176px;
    width: calc(100% - 60px);
    font-family: $f-second;
    font-size: 14px;
    font-weight: 600;
    color: #626262;
  }
  &__icon {
    width: 60px;
    svg {
      width: 50px;
      height: 40px;
      fill: transparent;
      stroke: $c-atlantis;
    }
  }
}
