.balance {
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 100px;
    &--marg-btm-sm {
      margin-bottom: 60px;
    }
    &--one-col {
      display: block;
      section {
        max-width: 47%;
        &:nth-child(odd) {
          float: left;
        }
        &:nth-child(even) {
          float: right;
        }
        @media screen and (max-width: 768px) {
          max-width: 100%;
          float: none;
        }
      }
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
  &__left-side,
  &__right-side {
    width: 47%;
    font-size: 12px;
    text-align: justify;
    p {
      margin: 20px 0;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__big-text {
    color: $c-viridian;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__text-highlight {
    color: $c-viridian;
    font-weight: 500;
  }
  &__img {
    width: 100%;
  }
  &__btns-group {
    display: flex;
    justify-content: space-between;
    &--marg-bot {
      margin-bottom: 75px;
    }
    &--center {
      justify-content: center;
    }
  }
}
