body {
  background-color: $body-bg-color;
  color: $text-color;
  font-family: $f-primary;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.svg-sprite {
  display: none;
}

// blocks backgrounds
.bg-color-viridian {
  background-color: $c-viridian;
}
.bg-color-atlantis {
  background-color: $c-atlantis;
}

// blocks shadow
.shadow {
  &--top-inner {
    box-shadow: inset 0px 6px 8px -6px rgba($c-black, 0.7);
  }
  &--bottom-outher {
    box-shadow: 0px 6px 8px -6px rgba($c-black, 0.7);
  }
}
