// Akrobat Font
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/akrobat/woff2/Akrobat-SemiBold.woff2') format('woff2'), url('../fonts/akrobat/woff/Akrobat-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/akrobat/woff2/Akrobat-ExtraLight.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/akrobat/woff2/Akrobat-Black.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatBlack.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/akrobat/woff2/Akrobat-Bold.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatBold.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/akrobat/woff2/Akrobat-Thin.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatThin.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/akrobat/woff2/Akrobat-ExtraBold.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/akrobat/woff2/Akrobat-Light.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatLight.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/akrobat/woff2/Akrobat-Regular.woff2') format('woff2'), url('../fonts/akrobat/woff/AkrobatRegular.woff') format('woff');
}

// Gotham Font

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gotham/woff2/GothamPro-Light.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro Narrow';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/gotham/woff2/GothamProNarrow-Bold.woff2') format('woff2'), url('../fonts/gotham/woff/GothamProNarrow-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/gotham/woff2/GothamPro-MediumItalic.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/gotham/woff2/GothamPro-Black.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-Black.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/gotham/woff2/GothamPro-Italic.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/gotham/woff2/GothamPro-LightItalic.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/gotham/woff2/GothamPro-BoldItalic.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gotham/woff2/GothamPro.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/gotham/woff2/GothamPro-Medium.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/gotham/woff2/GothamPro-Bold.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/gotham/woff2/GothamPro-BlackItalic.woff2') format('woff2'), url('../fonts/gotham/woff/GothamPro-BlackItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Pro Narrow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/gotham/woff2/GothamProNarrow-Medium.woff2') format('woff2'), url('../fonts/gotham/woff/GothamProNarrow-Medium.woff') format('woff');
}
