.form-section {
  max-width: 290px;
  width: 100%;
  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: $f-second;
    font-size: 20.5px;
    font-weight: 800;
    line-height: 1;
  }
  input {
    &[type=submit] {
      @extend .ml-btn;
      width: auto;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-right: 25px;
      padding-left: 25px;
    }
    &[type='text'],
    &[type='email'],
    &[type='tel'],
    &[type='password'], {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 15px;
    }
  }
  &__link {
    margin-left: 20px;
    color: $c-brownish-orange;
    font-size: 15.2px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  label {
    display: flex;
    padding: 10px 0;
    font-size: 15.2px;
    line-height: 1.06;
    color: #969696;
    span {
      margin-left: 15px;
    }
  }
  .one-line-fields {
    display: flex;
    justify-content: space-between;
    input {
      flex: 0 0 50px;
      padding-left: 10px;
      margin-left: 5px;
      min-width: 0; /* hack for firefox */
      &:first-child {
        flex-grow: 1;
        margin-left: 0;
        padding-left: 30px;
      }
    }
  }
}
