.login-page {
  margin-top: 50px;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
}
.social-enter {
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  &__link {
    display: inline-block;
    padding: 8px 12px;
    transition: background-color 250ms ease-in;
    border-radius: 5px;
    background-color: #0068ac;
    svg {
      display: block;
      width: 34px;
      height: 36px;
      fill: #fff;
    }
    &:hover {
      background-color: $c-atlantis;
    }
  }
}
