// Colors
$c-viridian:         #207e58;
$c-brownish-orange:  #cc561c;
$c-atlantis:         #a2c037;
$c-dirty-orange:     #9a8474;
$c-light-grey:       #ececec;
$c-white:            #fff;
$c-black:            #000;

// Fonts
$f-primary:				  'Gotham', sans-serif;
$f-second:				  'Akrobat', sans-serif;
// General
$body-bg-color:      $c-white;
$text-color:         $c-black;
