// Colors
// General
$c-viridian:         #207e58;
$c-brownish-orange:  #cc561c;
$c-dirty-orange:     #9a8474;
$c-white:            #fff;
$c-black:            #000;

$body-bg-color:      $c-white;
$text-color:         #000;

$primary-font-family:				'Gotham', sans-serif; // Content
$titles-font-family:				'Slabo 27px', serif; // Titles
$alternative-font-family:			'PT Serif', serif; // Testimonials
