@import "_mixins.scss";

body {
  display: block;
  @media (max-width: 600px) {
    background-color: #ffffff;
  }
}
.some-class {
  display: block;
  @media (max-width: 768px) {
    background-color: #fff;
    color: red;
  }
  @media (max-width: 600px) {
    background-color: #fff;
    color: red;
  }
}
