<div class="bg-color-light-grey shadow--top-inner">
  <div class="container">
    <div class="advantages">
      <div class="advantages__item">
        <div class="advantages__icon">
          <img class="advantages__icon" src="img/icon.png" alt="" />
        </div>
        <span class="advantages__text">Идеальная сбалансированность</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img class="advantages__icon" src="img/icon.png" alt="" />
        </div>
        <span class="advantages__text">Приготовить и съесть за 2 минуты!</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img class="advantages__icon" src="img/icon.png" alt="" />
        </div>
        <span class="advantages__text">Контроль калорийности</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img class="advantages__icon" src="img/icon.png" alt="" />
        </div>
        <span class="advantages__text">Полный набор витаминов. Витаминно-минеральный комплекс сделан в Швейцарии.</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img class="advantages__icon" src="img/icon.png" alt="" />
        </div>
        <span class="advantages__text">Полноценное здоровое питание по цене обычного.</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img class="advantages__icon" src="img/icon.png" alt="" />
        </div>
        <span class="advantages__text">Решение в офисе, походе, для экстремального отдыха, в поездке или путешествии.</span>
      </div>
    </div>
  </div>
</div>
