<section class="balance">
  <div class="bg-color-atlantis shadow--top-inner">
    <h2 class="block-title">ПРЕИМУЩЕСТВА</h2>
  </div>
  <div class="container">
    <div class="balance__content balance__content--marg-btm-sm">
      <div class="balance__left-side">
        <p class="balance__big-text">
          Обеспечить себя здоровым и сбалансированным традиционным питанием очень и очень сложно.
        </p>
        <p>
          <span class="balance__text-highlight">MaxLife</span> Премʼєр-міністр Угорщини Віктор Орбан запропонував Україні обговорити підписання угоди про подвійне громадянство для тих угорців, що мешкають в Україні. Це питання Порошенко та Орбан обговорювали в кулуарах зʼїзду Європейської народної партії на Мальті, повідомляє Hungarytoday. "Угорський прем'єр-міністр обговорив питання про подвійне громадянство для етнічних угорців, які живуть в Україні з українським президентом Петром Порошенком на Мальті", – йдеться у повідомленні. Видання також зазначає, що "під час бесіди … Орбан і Порошенко обговорили необхідність підписання двостороннього договору з питання отримання подвійного громадянства (для етнічних угорців на території України – ред..)". Нагадаємо, раніше повідомлялося, що Порошенко заявив Орбану про стурбованість заявами з приводу угорської автономії. Як відом, раінше віце-прем’єр Угорщини виступив за автономію для угорських меншин за кордоном.
        </p>
        <p>
          У зв’язку з цим до міністерства закордонних справ України запросили посла Угорщини. Пізніше у Будапешті 24 березня відбувся форум угорських депутатів від країн Карпатського басейну, участь в ньому взяли представники вищого керівництва Угорщини, які підтвердили готовність уряду країни надавати потужну підтримку діаспорам угорців у сусідніх країнах.
        </p>
        <p>
          Премʼєр-міністр Угорщини Віктор Орбан запропонував Україні обговорити підписання угоди про подвійне громадянство для тих угорців, що мешкають в Україні.
          Це питання Порошенко та Орбан обговорювали в кулуарах зʼїзду Європейської народної партії на Мальті, повідомляє Hungarytoday.
          "Угорський прем'єр-міністр обговорив питання про подвійне громадянство для етнічних угорців, які живуть в Україні з українським президентом Петром Порошенком на Мальті", – йдеться у повідомленні.
          Видання також зазначає, що "під час бесіди … Орбан і Порошенко обговорили необхідність підписання двостороннього договору з питання отримання подвійного громадянства (для етнічних угорців на території України – ред..)".
        </p>
        <p>
          Нагадаємо, раніше повідомлялося, що Порошенко заявив Орбану про стурбованість заявами з приводу угорської автономії.
          Як відом, раінше віце-прем’єр Угорщини виступив за автономію для угорських меншин за кордоном.
          У зв’язку з цим до міністерства закордонних справ України запросили посла Угорщини.
          Пізніше у Будапешті 24 березня відбувся форум угорських депутатів від країн Карпатського басейну, участь в ньому взяли представники вищого керівництва Угорщини, які підтвердили готовність уряду країни надавати потужну підтримку діаспорам угорців у сусідніх країнах.
        </p>
      </div>
      <div class="balance__right-side">
        <img src="img/packs.png" class="balance__img" alt="max-life-packages" />
        <div class="balance__btns-group balance__btns-group--marg-bot">
          <button type="button" name="buy" class="ml-btn js-open-buy-form">КУПИТЬ</button>
          <button type="button" name="buy" class="ml-btn ml-btn--green">ПОДПИСАТЬСЯ</button>
        </div>
        <p>
          Премʼєр-міністр Угорщини Віктор Орбан запропонував Україні обговорити підписання угоди про подвійне громадянство для тих угорців, що мешкають в Україні.
          Це питання Порошенко та Орбан обговорювали в кулуарах зʼїзду Європейської народної партії на Мальті, повідомляє Hungarytoday.
          "Угорський прем'єр-міністр обговорив питання про подвійне громадянство для етнічних угорців, які живуть в Україні з українським президентом Петром Порошенком на Мальті", – йдеться у повідомленні.
          Видання також зазначає, що "під час бесіди … Орбан і Порошенко обговорили необхідність підписання двостороннього договору з питання отримання подвійного громадянства (для етнічних угорців на території України – ред..)".
        </p>
        <p>
          Нагадаємо, раніше повідомлялося, що Порошенко заявив Орбану про стурбованість заявами з приводу угорської автономії.
          Як відом, раінше віце-прем’єр Угорщини виступив за автономію для угорських меншин за кордоном.
          У зв’язку з цим до міністерства закордонних справ України запросили посла Угорщини.
          Пізніше у Будапешті 24 березня відбувся форум угорських депутатів від країн Карпатського басейну, участь в ньому взяли представники вищого керівництва Угорщини, які підтвердили готовність уряду країни надавати потужну підтримку діаспорам угорців у сусідніх країнах.
        </p>
      </div>
    </div>
  </div>
</section>

<h3 class="slogan">MAXLIFE - ЭТО ЗДОРОВО!</h3>
