<section class="balance">
  <div class="bg-color-atlantis shadow--top-inner">
    <h2 class="block-title">ИДЕАЛЬНАЯ ПИЩЕВАЯ СБАЛАНСИРОВАННОСТЬ</h2>
  </div>
  <div class="container">
    <div class="balance__content balance__content--marg-btm-sm">
      <div class="balance__left-side">
        <p>
          Мы готовим дома и перекусываем в фаст-фудах, покупаем еду на улице и в ресторане, заказываем пиццу с доставкой… и почти никогда не знаем, что же мы едим на самом деле. Сколько Вы сегодня съели жиров, углеводов, белков? Достаточно ли их для Вашего организма, для Вашего образа жизни? А каков состав жиров, которые Вы потребили? Какова в них доля трас-жиров, использовали ли в приготовлении съеденной Вами пищи маргарины? Были ли в Вашем рационе столь необходимые Омега 3 жирные кислоты? Какого качества были углеводы в Вашем рационе? Есть еще 100 вопросов, которые стоит себе задать, перед тем, как съесть очередную порцию традиционной еды.
        </p>
        <p class="balance__big-text">
          Обеспечить себя здоровым и сбалансированным традиционным питанием очень и очень сложно.
        </p>
        <p>
          <span class="balance__text-highlight">MaxLife</span> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами, с разумным составом углеводов. Формула MaxLife включает в себя все необходимые человеку питательные вещества, витамины и минералы.
        </p>
      </div>
      <div class="balance__right-side">
        <img src="img/packs.png" class="balance__img" alt="max-life-packages" />
        <div class="balance__btns-group balance__btns-group--center">
          <button type="button" name="buy" class="ml-btn">КУПИТЬ</button>
        </div>
      </div>
    </div>
    <div class="balance__content balance__content--marg-btm-sm">
      <div class="balance__left-side">
        <section class="text-section">
          <h3>ПРОТЕИН (БЕЛОК) БУРОГО РИСА</h3>
          <p>Уникальный растительный белок, содержащий все 8 незаменимых аминокислот. Считается гипоаллергенным, замечательно подходит для людей с аллергией на сою, яйца или молоко. Отличный источник белка для приверженцев вегетарианства.</p>
          <figure>
            <div class="">
              <img src="img/balance-page-1.jpg" class="js-bg" alt="">
            </div>
          </figure>
        </section>
        <section class="text-section">
          <h3>ИЗОМАЛЬТУЛОЗА (МЕДОВЫЙ САХАР)</h3>
          <p>Один из лучших углеводов сочетающий в себе как высокий уровень усваиваемости, так и снижение рисков, связанных с уровнем инсулина. Изомальтулоза расщепляется в желудочно-кишечном тракте гораздо медленнее свекольного сахара, благодаря чему гликемическая и инсулинемическая реакция на изомальтулозу выражена меньше, а энергия поступает в организм дольше.</p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
        </section>
        <section class="text-section">
          <h3>КРАХМАЛ КАРТОФЕЛЬНЫЙ</h3>
          <p>
            Крахмал – это комплекс сложных углеводов, источник энергии для нашего организма. Все углеводы, в конечном счете, расщепляются нашим организмом до сахаров (глюкозы). Именно глюкоза усваивается клетками и превращается в энергию и силу наших мышц. Сложные углеводы расщепляются продолжительное время. Благодаря этому уровень глюкозы в крови поддерживается длительное время на небольшом, но достаточном уровне. Крахмал оказывается отличным источником энергии для длительной деятельности. В нашем рационе картофельный крахмал дает 160 ккал.
          </p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
        </section>
        <section class="text-section">
          <h3>КРАХМАЛ РИСОВЫЙ</h3>
          <p>
            Как и картофельный крахмал, рисовый крахмал – это комплекс сложных углеводов, источник энергии для нашего организма. Сложные углеводы ценны тем, что перевариваются медленно и дают энергию нашему организму постепенно, поддерживают длительную работоспособность. В нашем рационе рисовый крахмал дает 50 ккал.
          </p>
        </section>
        <section class="text-section">
          <h3>ТРЕГАЛОЗА (ГРИБНОЙ САХАР)</h3>
          <p>Уникальный растительный белок, содержащий все 8 незаменимых аминокислот. Считается гипоаллергенным, замечательно подходит для людей с аллергией на сою, яйца или молоко. Отличный источник белка для приверженцев вегетарианства.</p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
          <figure>
            <div class="">
              <img src="img/balance-page-4.jpg" class="js-bg" alt="">
            </div>
          </figure>
        </section>
        <section class="text-section">
          <h3>КОМПЛЕКС ВИТАМИНОВ И МИНЕРАЛОВ</h3>
          <p>
            В MaxLife содрежится полный комлпекс витаминов и минералов. Этот комплекс изготовлен на предрприятиях швейцарской фармацевтической компании
          </p>
        </section>
      </div>
      <div class="balance__right-side">
        <section class="text-section">
          <h3>РАПСОВОЕ И ПОДСОЛНЕЧНЫЕ МАСЛА</h3>
          <p>
            Жиры – необходимый элемент здорового питания. Отказ от потребления жиров ведет к системным сбоям в работе организма. Сначала резко падает усваиваемость витаминов групп A и E, потом нарушается функционирование межклеточных мембран, падают умственные
          </p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
          <figure>
            <div class="">
              <img src="img/balance-page-2.jpg" class="js-bg" alt="">
            </div>
          </figure>
        </section>
        <section class="text-section">
          <h3>ОВЕС (ОВСЯНАЯ МУКА)</h3>
          <p>
            Комплексный, проверенный веками продукт питания, предлагающий широкий набор питательных веществ. Белки – до 10% состава, в том числе содержащие незаменимые аминокислоты (лизин, триптофан, аргинин и другие), углеводы, в основном «медленные», крахмал, немного жира и сравнительно много клетчатки – более 10%.
          </p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
          <figure>
            <div class="">
              <img src="img/balance-page-3.jpg" class="js-bg" alt="">
            </div>
          </figure>
        </section>
        <section class="text-section">
          <h3>ЛЕЦИТИН</h3>
          <p>
            Термин «лецитин» имеет древнегреческие корни и происходит от слова «лекитос», что в переводе означает «яичный желток». И действительно, вряд ли можно представить себе пищевой продукт, в составе которого было бы больше лецитина, чем в желтках. Лецитин почти на две трети состоит из фосфолипидов
          </p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
        </section>
        <section class="text-section">
          <h3>ЦЕЛЛЮЛОЗА</h3>
          <p>
            На первый взгляд, целлюлоза не имеет сколь-нибудь значимой питательной ценности, ведь она совершенно не переваривается организмом человека. Но она – необходимый элемент здорового питания. Целлюлоза – это «пищевое волокно», а пищевые волокна необходимы для обеспечения нормальной жизнедеятельности человека, как здорового, так и больного. Часто нарушения обмена веществ связаны с дефицитом пищевых волокон в рационе.
          </p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
        </section>
        <section class="text-section">
          <h3>ДОКОЗАГЕКСАЕНОВАЯ КИСЛОТА</h3>
          <p>
            Докозагексаеновая кислота (ДГК) — незаменимая полиненасыщенная жирная кислота класса Омега-3, один из главных компонентов комплексных липидов. Большое количество ДГК содержится в рыбных жирах лосося и атлантической сельди, зоопланктоне, морских моллюсках, микроводорослях.
          </p>
          <a href="balance-detail.html" class="ml-link">
            <span>подробнее...</span>
          </a>
          <figure>
            <div class="">
              <img src="img/balance-page-5.jpg" class="js-bg" alt="">
            </div>
          </figure>
        </section>
      </div>
    </div>
    <!-- .balance__content END-->
    <div class="balance__btns-group balance__btns-group--marg-bot balance__btns-group--center">
      <button type="button" name="buy" class="ml-btn">КУПИТЬ</button>
      <button type="button" name="buy" class="ml-btn ml-btn--green">ПОДПИСАТЬСЯ</button>
    </div>
  </div>
  <!-- .container END -->
</section>
