<section class="balance">
  <div class="bg-color-atlantis shadow--top-inner">
    <h2 class="block-title">ИДЕАЛЬНАЯ ПИЩЕВАЯ СБАЛАНСИРОВАННОСТЬ</h2>
  </div>
  <div class="container">
    <div class="balance__content">
      <div class="balance__left-side">
        <p>
          Мы готовим дома и перекусываем в фаст-фудах, покупаем еду на улице и в ресторане, заказываем пиццу с доставкой… и почти никогда не знаем, что же мы едим на самом деле. Сколько Вы сегодня съели жиров, углеводов, белков? Достаточно ли их для Вашего организма, для Вашего образа жизни? А каков состав жиров, которые Вы потребили? Какова в них доля трас-жиров, использовали ли в приготовлении съеденной Вами пищи маргарины? Были ли в Вашем рационе столь необходимые Омега 3 жирные кислоты? Какого качества были углеводы в Вашем рационе? Есть еще 100 вопросов, которые стоит себе задать, перед тем, как съесть очередную порцию традиционной еды.
        </p>
        <p class="balance__big-text">
          Обеспечить себя здоровым и сбалансированным традиционным питанием очень и очень сложно.
        </p>
        <p>
          <span class="balance__text-highlight">MaxLife</span> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами, с разумным составом углеводов. Формула MaxLife включает в себя все необходимые человеку питательные вещества, витамины и минералы.
        </p>
        <a href="balance-detail.html" class="ml-link">
          <span>Подробнее о сбалансированности продукта</span>
        </a>
      </div>
      <div class="balance__right-side">
        <img src="img/packs.png" class="balance__img" alt="max-life-packages" />
        <div class="balance__btns-group">
          <button type="button" name="buy" class="ml-btn js-open-buy-form">КУПИТЬ</button>
          <button type="button" name="buy" class="ml-btn ml-btn--green">ПОДПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
</section>
