<!-- Buy form -->
<form id="buy-form" class="ml-form mfp-hide buy-form">
  <div class="buy-form__inner">
    <button class="buy-form__close js-close-popup" type="button" name="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.57 18.57">
        <circle cx="9.28" cy="9.28" r="8.89"/>
        <path d="M6.93 7.36l4.87 4.87M11.8 7.36l-4.87 4.87"/>
      </svg>
    </button>
    <table class="buy-table">
      <tr>
        <td class="buy-table__col buy-table__col--price">
          <span class="buy-table__currency">
            <svg xmlns="http://www.w3.org/2000/svg" class="buy-table__currency-svg" viewBox="0 0 17.37 24.67">
              <path d="M1.47 15.55L0 15.44l.26-2.17c1.52-.46 3.32.62 4.54-1.28H.39a15.07 15.07 0 0 1 .28-2c0-.17.51-.33.79-.33H6.9a3.71 3.71 0 0 0 3.3-2.95c.13-1.4-1-2.63-2.77-2.93a12.47 12.47 0 0 0-5.51.66l-.67.2c.12-1.28.21-2.47.37-3.66 0-.18.34-.43.56-.46C5.23 0 8.29-.34 11.35.63a5.53 5.53 0 0 1 3.42 8.2 6.3 6.3 0 0 0-.27.81h2.88a12.62 12.62 0 0 1-.19 1.89c0 .19-.47.4-.73.41h-4c-.78 0-1.23.42-1.75 1.15H17a17.78 17.78 0 0 1-.21 2c0 .16-.45.33-.69.33H8.68c-1.12 0-1.79.58-2.24 1.89A2.37 2.37 0 0 0 7.15 20a5.26 5.26 0 0 0 4.33.79c1.52-.25 3-.78 4.5-1.19l.54-.12c-.1 1.27-.17 2.47-.33 3.65a1 1 0 0 1-.64.67c-3.12.67-6.26 1.25-9.44.41S.5 21.27.94 17.32a10.7 10.7 0 0 1 .53-1.77z"/>
            </svg>
          </span>
          <span class="buy-table__price">45</span>
        </td>
        <td class="buy-table__col buy-table__col--desc">пробный пакет</td>
        <td class="buy-table__col buy-table__col--amount">
          <div class="custom-number">
            <input class="custom-number__field js-check-amount" type="number" name="" value="0" min="0">
            <div class="custom-number__navigation">
              <button class="custom-number__btn js-number-plus">+</button>
              <button class="custom-number__btn js-number-minus">-</button>
            </div>
            <!-- .custom-number__navigation END -->
          </div>
          <!-- .custom-number END -->
          <label for="">шт</label>
        </td>
        <td class="buy-table__col buy-table__col--action">
          <button type="button" name="button" class="ml-btn ml-btn--light-green ml-btn--disabled">КУПИТЬ</button>
        </td>
      </tr>
      <tr>
        <td class="buy-table__col buy-table__col--price">
          <span class="buy-table__currency">
            <svg xmlns="http://www.w3.org/2000/svg" class="buy-table__currency-svg" viewBox="0 0 17.37 24.67">
              <path d="M1.47 15.55L0 15.44l.26-2.17c1.52-.46 3.32.62 4.54-1.28H.39a15.07 15.07 0 0 1 .28-2c0-.17.51-.33.79-.33H6.9a3.71 3.71 0 0 0 3.3-2.95c.13-1.4-1-2.63-2.77-2.93a12.47 12.47 0 0 0-5.51.66l-.67.2c.12-1.28.21-2.47.37-3.66 0-.18.34-.43.56-.46C5.23 0 8.29-.34 11.35.63a5.53 5.53 0 0 1 3.42 8.2 6.3 6.3 0 0 0-.27.81h2.88a12.62 12.62 0 0 1-.19 1.89c0 .19-.47.4-.73.41h-4c-.78 0-1.23.42-1.75 1.15H17a17.78 17.78 0 0 1-.21 2c0 .16-.45.33-.69.33H8.68c-1.12 0-1.79.58-2.24 1.89A2.37 2.37 0 0 0 7.15 20a5.26 5.26 0 0 0 4.33.79c1.52-.25 3-.78 4.5-1.19l.54-.12c-.1 1.27-.17 2.47-.33 3.65a1 1 0 0 1-.64.67c-3.12.67-6.26 1.25-9.44.41S.5 21.27.94 17.32a10.7 10.7 0 0 1 .53-1.77z"/>
            </svg>
          </span>
          <span class="buy-table__price">245</span>
        </td>
        <td class="buy-table__col buy-table__col--desc">пробный пакет</td>
        <td class="buy-table__col buy-table__col--amount">
          <div class="custom-number">
            <input class="custom-number__field js-check-amount" type="number" name="" value="0" min="0">
            <div class="custom-number__navigation">
              <button class="custom-number__btn js-number-plus">+</button>
              <button class="custom-number__btn js-number-minus">-</button>
            </div>
            <!-- .custom-number__navigation END -->
          </div>
          <!-- .custom-number END -->
          <label for="">шт</label>
        </td>
        <td class="buy-table__col buy-table__col--action">
          <button type="button" name="button" class="ml-btn ml-btn--light-green ml-btn--disabled">КУПИТЬ</button>
        </td>
      </tr>
      <tr>
        <td class="buy-table__col buy-table__col--price buy-table__col--highlight">
          <span class="buy-table__currency-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" class="buy-table__currency-svg" viewBox="0 0 17.37 24.67">
              <path d="M1.47 15.55L0 15.44l.26-2.17c1.52-.46 3.32.62 4.54-1.28H.39a15.07 15.07 0 0 1 .28-2c0-.17.51-.33.79-.33H6.9a3.71 3.71 0 0 0 3.3-2.95c.13-1.4-1-2.63-2.77-2.93a12.47 12.47 0 0 0-5.51.66l-.67.2c.12-1.28.21-2.47.37-3.66 0-.18.34-.43.56-.46C5.23 0 8.29-.34 11.35.63a5.53 5.53 0 0 1 3.42 8.2 6.3 6.3 0 0 0-.27.81h2.88a12.62 12.62 0 0 1-.19 1.89c0 .19-.47.4-.73.41h-4c-.78 0-1.23.42-1.75 1.15H17a17.78 17.78 0 0 1-.21 2c0 .16-.45.33-.69.33H8.68c-1.12 0-1.79.58-2.24 1.89A2.37 2.37 0 0 0 7.15 20a5.26 5.26 0 0 0 4.33.79c1.52-.25 3-.78 4.5-1.19l.54-.12c-.1 1.27-.17 2.47-.33 3.65a1 1 0 0 1-.64.67c-3.12.67-6.26 1.25-9.44.41S.5 21.27.94 17.32a10.7 10.7 0 0 1 .53-1.77z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.6 149" class="buy-table__discount svg-discount">
              <path class="svg-discount__shape" d="M160.9 76.67l-13.23-13.22a74 74 0 1 0-1 27.47z"/>
              <text transform="translate(56.49 96.64)">
                <tspan class="svg-discount__text-1">за суточный</tspan>
                <tspan class="svg-discount__text-2" x="0" y="12">рацион</tspan>
              </text>
              <text transform="translate(16.49 81.05)">
                <tspan class="svg-discount__text-3">по</tspan>
                <tspan class="svg-discount__text-4" x="42.14" y="0">219</tspan>
              </text>
              <path class="svg-discount__currency" d="M111.78 58l-.9-.07.16-1.34c.94-.28 2 .38 2.8-.79h-2.72a9.31 9.31 0 0 1 .17-1.26c0-.11.32-.2.49-.2h3.36a2.29 2.29 0 0 0 2-1.82 1.81 1.81 0 0 0-1.71-1.81 7.7 7.7 0 0 0-3.4.41l-.42.12c.07-.79.13-1.53.23-2.26 0-.11.21-.26.34-.29a11.78 11.78 0 0 1 5.67.08A3.41 3.41 0 0 1 120 53.8a3.89 3.89 0 0 0-.17.5h1.78a7.79 7.79 0 0 1-.12 1.17c0 .12-.29.25-.45.25h-2.44c-.48 0-.76.26-1.08.71h3.83a11 11 0 0 1-.13 1.26c0 .1-.28.2-.43.21h-4.58c-.69 0-1.11.36-1.38 1.17a1.47 1.47 0 0 0 .47 1.64 3.25 3.25 0 0 0 2.67.49c.94-.16 1.85-.48 2.78-.73l.33-.07c-.06.78-.1 1.52-.2 2.25a.63.63 0 0 1-.4.42 12.35 12.35 0 0 1-5.83.25c-1.9-.5-3.46-1.84-3.19-4.28a6.61 6.61 0 0 1 .32-1.04z"/>
            </svg>
          </span>
          <span class="buy-table__price">1533</span>
        </td>
        <td class="buy-table__col buy-table__col--desc buy-table__col--highlight">пробный пакет</td>
        <td class="buy-table__col buy-table__col--amount">
          <div class="custom-number">
            <input class="custom-number__field js-check-amount" type="number" name="" value="0" min="0">
            <div class="custom-number__navigation">
              <button class="custom-number__btn js-number-plus">+</button>
              <button class="custom-number__btn js-number-minus">-</button>
            </div>
            <!-- .custom-number__navigation END -->
          </div>
          <!-- .custom-number END -->
          <label for="">шт</label>
        </td>
        <td class="buy-table__col buy-table__col--action">
          <button type="button" name="button" class="ml-btn ml-btn--light-green ml-btn--disabled">КУПИТЬ</button>
        </td>
      </tr>
      <tr>
        <td class="buy-table__col buy-table__col--price buy-table__col--highlight">
          <span class="buy-table__currency-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" class="buy-table__currency-svg" viewBox="0 0 17.37 24.67">
              <path d="M1.47 15.55L0 15.44l.26-2.17c1.52-.46 3.32.62 4.54-1.28H.39a15.07 15.07 0 0 1 .28-2c0-.17.51-.33.79-.33H6.9a3.71 3.71 0 0 0 3.3-2.95c.13-1.4-1-2.63-2.77-2.93a12.47 12.47 0 0 0-5.51.66l-.67.2c.12-1.28.21-2.47.37-3.66 0-.18.34-.43.56-.46C5.23 0 8.29-.34 11.35.63a5.53 5.53 0 0 1 3.42 8.2 6.3 6.3 0 0 0-.27.81h2.88a12.62 12.62 0 0 1-.19 1.89c0 .19-.47.4-.73.41h-4c-.78 0-1.23.42-1.75 1.15H17a17.78 17.78 0 0 1-.21 2c0 .16-.45.33-.69.33H8.68c-1.12 0-1.79.58-2.24 1.89A2.37 2.37 0 0 0 7.15 20a5.26 5.26 0 0 0 4.33.79c1.52-.25 3-.78 4.5-1.19l.54-.12c-.1 1.27-.17 2.47-.33 3.65a1 1 0 0 1-.64.67c-3.12.67-6.26 1.25-9.44.41S.5 21.27.94 17.32a10.7 10.7 0 0 1 .53-1.77z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.6 149" class="buy-table__discount svg-discount">
              <path class="svg-discount__shape" d="M160.9 76.67l-13.23-13.22a74 74 0 1 0-1 27.47z"/>
              <text transform="translate(56.49 96.64)">
                <tspan class="svg-discount__text-1">за суточный</tspan>
                <tspan class="svg-discount__text-2" x="0" y="12">рацион</tspan>
              </text>
              <text transform="translate(16.49 81.05)">
                <tspan class="svg-discount__text-3">по</tspan>
                <tspan class="svg-discount__text-4" x="42.14" y="0">192</tspan>
              </text>
              <path class="svg-discount__currency" d="M111.78 58l-.9-.07.16-1.34c.94-.28 2 .38 2.8-.79h-2.72a9.31 9.31 0 0 1 .17-1.26c0-.11.32-.2.49-.2h3.36a2.29 2.29 0 0 0 2-1.82 1.81 1.81 0 0 0-1.71-1.81 7.7 7.7 0 0 0-3.4.41l-.42.12c.07-.79.13-1.53.23-2.26 0-.11.21-.26.34-.29a11.78 11.78 0 0 1 5.67.08A3.41 3.41 0 0 1 120 53.8a3.89 3.89 0 0 0-.17.5h1.78a7.79 7.79 0 0 1-.12 1.17c0 .12-.29.25-.45.25h-2.44c-.48 0-.76.26-1.08.71h3.83a11 11 0 0 1-.13 1.26c0 .1-.28.2-.43.21h-4.58c-.69 0-1.11.36-1.38 1.17a1.47 1.47 0 0 0 .47 1.64 3.25 3.25 0 0 0 2.67.49c.94-.16 1.85-.48 2.78-.73l.33-.07c-.06.78-.1 1.52-.2 2.25a.63.63 0 0 1-.4.42 12.35 12.35 0 0 1-5.83.25c-1.9-.5-3.46-1.84-3.19-4.28a6.61 6.61 0 0 1 .32-1.04z"/>
            </svg>
          </span>
          <span class="buy-table__price">5760</span>
        </td>
        <td class="buy-table__col buy-table__col--desc buy-table__col--highlight">пробный пакет</td>
        <td class="buy-table__col buy-table__col--amount">
          <div class="custom-number">
            <input class="custom-number__field js-check-amount" type="number" name="" value="0" min="0">
            <div class="custom-number__navigation">
              <button class="custom-number__btn js-number-plus">+</button>
              <button class="custom-number__btn js-number-minus">-</button>
            </div>
            <!-- .custom-number__navigation END -->
          </div>
          <!-- .custom-number END -->
          <label for="">шт</label>
        </td>
        <td class="buy-table__col buy-table__col--action">
          <button type="button" name="button" class="ml-btn ml-btn--light-green ml-btn--disabled">КУПИТЬ</button>
        </td>
      </tr>
    </table>
  </div>
</form>
