<section class="control">
  <div class="bg-color-orange shadow--top-inner">
    <h2 class="block-title">КОНТРОЛЬ КАЛОРИЙНОСТИ</h2>
  </div>
  <div class="container container--sm">
    <div class="control__content">
      <p>
        Следить за калорийностью потребляемых продуктов очень сложно. Часто просто неоткуда взять данные ни о весе ни о калорийности продукта на 100 грамм веса.
      </p>
      <p class="control__text-big">
        MaxLife предлагает простое решение – ровно 4 кКал на 1 грамм веса.
      </p>
      <p class="control__text-big control__text-big--orange">
        Насыпьте себе ровно столько калорий, сколько Вам надо.
      </p>
      <div class="control__cols">
        <div class="control__left-side">
          <img src="img/packs--small.png" class="control__img" alt="" />
        </div>
        <div class="control__right-side">
          <p>
            Удобная упаковка по 500 кКал – оптимальное решение. 4 приема пищи по 500 кКал – обычная норма. Если Вам нужно меньше – просто отмерьте подходящее количество по объему (3 кКал в 1 миллилитр) или весу (4,35 кКал на 1 грамм). А остаток не пропадет в пакете благодаря зип-лок застежке.
          </p>
          <p class="control__slogan">
            maxlife — это здорово!
          </p>
          <button type="button" name="buy" class="ml-btn js-open-buy-form">КУПИТЬ</button>
        </div>
      </div>
    </div>
  </div>
</section>
