<footer class="main-footer">
  <div class="bg-color-atlantis shadow--top-inner">
    <!-- .container START -->
    <div class="container">
      <!-- .main-footer__inner START -->
      <div class="main-footer__inner">
        <div class="main-footer__left-side">
          <img src="img/logo.svg" alt="" class="ml-logo">
          <ul class="socials">
            <li class="socials__item">
              <a href="#facebook" class="socials__link">
                <svg>
                  <use xlink:href="#facebook-logo"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#vk" class="socials__link">
                <svg>
                  <use xlink:href="#vk-logo"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#instagram" class="socials__link">
                <svg>
                  <use xlink:href="#inst-logo"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="main-footer__copyright">Maxlife 2016-2017©</span>
        </div>
        <div class="main-footer__right-side">
          <span class="main-footer__contacts">
            <span class="main-footer__location">
              <svg>
                <use xlink:href="#location-icon"></use>
              </svg>
              Киев
            </span>
            +38 (XXX) XXX XX XX
          </span>
        </div>
      </div>
      <!-- .main-footer__inner END -->
    </div>
    <!-- .container END -->
  </div>
</footer>
