<div class="head-slider-container">
  <div class="swiper-container header-slider">
      <div class="swiper-wrapper">
          <div class="swiper-slide header-slider__slide">
            <img src="img/slider-img-1.jpg" class="js-bg" alt="" />
            <div class="container">
              <div class="header-slider__content">
                <div class="head-tip">
                  <span class="head-tip__content">ПОЛНОЦЕННОЕ ПИТАНИЕ БЫСТРО И ДОСТУПНО</span>
                </div>
                <div class="header-slider__text-container">
                  <h2 class="header-slider__title">maxlife — это здорово!</h2>
                  <p class="header-slider__desc">
                    <b>MaxLife</b> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами с разумным составом углеводов.
                  </p>
                  <button class="ml-btn js-open-buy-form" type="button" name="button">КУПИТЬ</button>
                </div>
              </div>
              <!-- .header-slider__content END -->
            </div>
            <!-- .container END -->
          </div>
          <!-- .swiper-slide END -->
          <div class="swiper-slide header-slider__slide">
            <img src="img/slider-img-2.jpg" class="js-bg" alt="" />
            <div class="container">
              <div class="header-slider__content">
                <div class="head-tip">
                  <span class="head-tip__content">ПОЛНОЦЕННОЕ ПИТАНИЕ БЫСТРО И ДОСТУПНО</span>
                </div>
                <div class="header-slider__text-container">
                  <h2 class="header-slider__title">maxlife — это здорово!</h2>
                  <p class="header-slider__desc">
                    <b>MaxLife</b> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами с разумным составом углеводов.
                  </p>
                  <button class="ml-btn js-open-buy-form" type="button" name="button">КУПИТЬ</button>
                </div>
              </div>
              <!-- .header-slider__content END -->
            </div>
            <!-- .container END -->
          </div>
          <!-- .swiper-slide END -->
          <div class="swiper-slide header-slider__slide">
            <img src="img/slider-img-3.jpg" class="js-bg" alt="" />
            <div class="container">
              <div class="header-slider__content">
                <div class="head-tip">
                  <span class="head-tip__content">ПОЛНОЦЕННОЕ ПИТАНИЕ БЫСТРО И ДОСТУПНО</span>
                </div>
                <div class="header-slider__text-container">
                  <h2 class="header-slider__title">maxlife — это здорово!</h2>
                  <p class="header-slider__desc">
                    <b>MaxLife</b> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами с разумным составом углеводов.
                  </p>
                  <button class="ml-btn js-open-buy-form" type="button" name="button">КУПИТЬ</button>
                </div>
              </div>
              <!-- .header-slider__content END -->
            </div>
            <!-- .container END -->
          </div>
          <!-- .swiper-slide END -->
      </div>
      <!-- .swiper-wrapper END -->
      <a class="header-slider__slide-btn js-scroll-to" href="#advantages">
        <img src="img/down-btn.png" alt="" />
      </a>
  </div>
  <!-- .swiper-container END -->
</div>
<!-- .head-slider-container END -->
