<div class="head-slider-container">
  <!-- Slider main container -->
  <div class="swiper-container header-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide header-slider__slide">
            <img src="img/slider-img-1.jpg" class="js-bg" alt="" />
            <div class="container">
              <div class="header-slider__content">
                <div class="head-tip">
                  <span class="head-tip__content">ПОЛНОЦЕННОЕ ПИТАНИЕ БЫСТРО И ДОСТУПНО</span>
                </div>
                <div class="header-slider__text-container">
                  <h2 class="header-slider__title">maxlife — это здорово!</h2>
                  <p class="header-slider__desc">
                    <b>MaxLife</b> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами с разумным составом углеводов.
                  </p>
                  <button class="ml-btn" type="button" name="button">КУПИТЬ</button>
                </div>
                <div class="header-slider__slide-btn">
                  <img src="img/down-btn.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide header-slider__slide">
            <img src="img/slider-img-1.jpg" class="js-bg" alt="" />
            <div class="container">
              <div class="header-slider__content">
                <div class="head-tip">
                  <span class="head-tip__content">ПОЛНОЦЕННОЕ ПИТАНИЕ БЫСТРО И ДОСТУПНО</span>
                </div>
                <div class="header-slider__text-container">
                  <h2 class="header-slider__title">maxlife — это здорово!</h2>
                  <p class="header-slider__desc">
                    <b>MaxLife</b> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами с разумным составом углеводов.
                  </p>
                  <button class="ml-btn" type="button" name="button">КУПИТЬ</button>
                </div>
                <div class="header-slider__slide-btn">
                  <img src="img/down-btn.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide header-slider__slide">
            <img src="img/slider-img-1.jpg" class="js-bg" alt="" />
            <div class="container">
              <div class="header-slider__content">
                <div class="head-tip">
                  <span class="head-tip__content">ПОЛНОЦЕННОЕ ПИТАНИЕ БЫСТРО И ДОСТУПНО</span>
                </div>
                <div class="header-slider__text-container">
                  <h2 class="header-slider__title">maxlife — это здорово!</h2>
                  <p class="header-slider__desc">
                    <b>MaxLife</b> – продукт с контролируемым составом, без трансжиров, без вредного холестерина, со всеми необходимыми аминокислотами с разумным составом углеводов.
                  </p>
                  <button class="ml-btn" type="button" name="button">КУПИТЬ</button>
                </div>
                <div class="header-slider__slide-btn">
                  <img src="img/down-btn.png" alt="" />
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
