<section class="balance">
  <div class="bg-color-orange shadow--top-inner">
    <h2 class="block-title">АВТОРИЗАЦИЯ</h2>
  </div>
  <div class="container">
    <div class="flex-grid login-page">
      <div class="col">
        <section class="form-section ml-form">
          <h3>ВХОД НА САЙТ</h3>
          <form action="#enter" method="post">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="submit" value="ВОЙТИ">
            <a class="form-section__link" href="#forgot-pass">Забыли пароль?</a>
          </form>
        </section>
        <section class="form-section ml-form">
          <h3>ВХОД С ПОМОЩЬЮ</h3>
          <ul class="social-enter">
            <li>
              <a class="social-enter__link" href="#facebook">
                <svg>
                  <use xlink:href="#facebook-letter-logo"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-enter__link" href="#vk">
                <svg>
                  <use xlink:href="#vk-letter-logo"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-enter__link" href="#instagram">
                <svg>
                  <use xlink:href="#inst-logo"></use>
                </svg>
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col col--right">
        <section class="form-section ml-form">
          <h3>ДЛЯ НОВЫХ ПОЛЬЗОВАТЕЛЕЙ</h3>
          <form action="#new-account" method="post">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="пароль" required>
            <input type="text" name="name" placeholder="ФИО" required>
            <input type="tel" name="phone" placeholder="Телефон" required>
            <input type="submit" value="РЕГИСТРАЦИЯ">
          </form>
        </section>
      </div>
      <div class="login-page__separator"></div>
    </div>
  </div>
</section>
