<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  {% include "partials/header.tmpl.njk" %}
  {% include "partials/balance-detail.tmpl.njk" %}
  {% include "partials/footer.tmpl.njk" %}

{% endblock %}

{% block buyForm %}
  {% include "partials/buy-form.tmpl.njk" %}
{% endblock %}
