<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

  {% include "partials/header.tmpl.njk" %}
  {% include "partials/advantages.tmpl.njk" %}
  {% include "partials/balance-block.tmpl.njk" %}
  {% include "partials/control-block.tmpl.njk" %}
  {% include "partials/footer.tmpl.njk" %}

{% endblock %}
