{% set bodyClass = 'bg-color-light-grey' %}
{% extends "layout.njk" %}

{% block content %}

  {% include "partials/header.tmpl.njk" %}
  {% include "partials/login.tmpl.njk" %}

{% endblock %}

{% block buyForm %}
  {% include "partials/buy-form.tmpl.njk" %}
{% endblock %}
