{% set pageTitle = "Профиль" %}
{% set bodyClass = 'bg-color-light-grey' %}
{% set loggedIn = true %}
{% extends "layout.njk" %}

{% block content %}

  {% include "partials/header.tmpl.njk" %}
  {% include "partials/profile.tmpl.njk" %}

{% endblock %}

{% block buyForm %}
  {% include "partials/buy-form.tmpl.njk" %}
{% endblock %}
